<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Hi, I am a random EJS File.</h1>
    <% for(let index = 0; index < data.length; index++ ) { %>
        <%=data[index]%>
    <% } %>

    <%= url %>
    

</body>
</html>